%h1 Welcome to the NOTAMator
%h2 Please enter your NOTAMs, seperated by a line of white space

= form_tag create_path, :method => :post do
  = text_area_tag "input", nil, rows: 10, cols: 50
  %div
    = submit_tag "Submit"