// Place all the styles related to the Notice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica;
  font-size: 16px;

  .wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 1em;
    padding: 10px;
    text-align: center;

    nav {
      ul {
        padding-left: 0em;
        list-style:none;
        height: 50px;
        line-height: 50px;

      li {
        display: inline-block;
        list-style: none;
        margin-right: 5px;

        a {
          padding: 10px;
          background-color: #ffffff;
          text-decoration: none;
          border-radius: 0.7em;
          font-size: 1.2em;

          &:hover {
            background-color: #fafafa;
            text-decoration: underline;
          }
        }
      }
      }
    }

  table {
    width: 95%;
    margin: 0 auto;
    td {
      text-align: center;
      padding: 8px;
      border: 1px dashed black;
    }
  }
  }
}